// academy
.out_orange
	.container
		@media (min-width: 1620px)
			width: 1200px
	a
		&:hover
			color: $orange
			text-decoration: underline
	.menu
		.menu__item
			&:hover
				color: #fff 		 		
	.header
		.header__content
			background: $orange
	.topper__title
		color: $orange
	.box
		height: auto	
	.cat-link
		h2
			color: $orange
		&:focus
			color: $orange 	
	.news-link
		margin: 15px 0 30px
		.news-link__link
			font-size: 21px
	.tag
		background: $orange
	.img-link
		.img-link__link
			&:hover
				color: #fff
				text-decoration: underline
	.follow .follow__wrap .form-group .btn
		background: $orange
		&.btn-sm
			background: #FFF
			color: $orange
			&:hover
				color: #fff
				background: $orange
	// .more
	// 	color: $orange
	// 	&:before
	// 		border-color: $orange 			 			 					 
.img-link_big
	height: 460px
	+r(991)
		height: 380px			
.breadcrumbs
	margin: -15px 0 15px 
	a
		position: relative
		display: inline-block
		vertical-align: middle		
		margin-right: 5px
		font-size: 12px
		color: $orange 
		&:after
			content: "→"
			display: inline-block
			vertical-align: middle
			margin-left: 5px 
			color: #333
		&:last-child
			&:after
				content: "\EA05"
				@extend %icon
				font-size: 9px	 
.course-wrap
	padding: 20px
	background: #f7f7f7
	margin-bottom: 20px
	+r(1219)
		margin-bottom: 50px
	+r(767)
		background: none
		padding: 0  	
.course
	padding-right: 20px
	.course__img
		width: 160px
		float: left
		height: auto
		margin-right: 18px
		font-size: 0
		img
			width: 100%
			margin-bottom: 15px
	.course__text
		overflow: hidden
		font-size: 15px 
		font-weight: 300
		margin-bottom: 5px
	.course__more
		color: $orange
		font-size: 15px
		font-weight: bold
	+r(1219)
		.course__img
			float: none
			width: 100%
			margin-right: 0
			margin-bottom: 10px
	+r(767)
		padding-right: 0
		.course__img
			float: left
			width: 130px
			margin-right: 10px
		.course__text
			font-size: 13px
		
// register
.register
	background: $orange
	color: #fff
	padding: 20px
	font-size: 20px
	height: 460px
	margin-bottom: 30px  
	p
		margin-bottom: 25px
	+r(1219)
		font-size: 18px
	+r(991)
		height: auto		
	.register__field
		display: block
		margin-bottom: 15px
		p
			margin-bottom: 0
		input, textarea
			width: 100%
			padding: 0 5px
			line-height: 1
			height: 34px 
			font-size: 15px
			border: 2px solid #fff
			background: transparent
		textarea
			padding: 5px 
			background: none
			height: 110px
			resize: none	
	.register__submit
		padding-top: 15px
		button
			width: 100%
			height: 43px
			padding: 0 
			background: #fff
			color: $orange
			font-size: 25px
			font-weight: 500
			line-height: 46px
			text-transform: uppercase
			text-align: center
		+r(1219)
			button
				font-size: 20px 	     		  	
.person_expert
	p
		font-size: 12px
		color: #999
	+r(991)
		+clr
		min-height: 100px
		.person__content
			display: block
			padding-left: 120px
			padding-top: 10px
		.person__img
			position: absolute
			display: block
			top: 0
			left: 0
.exp-order
	+clr
	margin: 50px 0
	.exp-order__left
		float: left
		width: 320px
		margin-right: 35px
		.btn
			background: $orange 
	.exp-order__content
		overflow: hidden
		p
			font-size: 15px
			font-weight: 300
	+r(767)
		background: transparent
		margin: 0 0 30px
		padding: 0 
		.exp-order__left
			width: 100%
			margin-right: 0
			.btn
				width: 100%
				font-size: 15px 
		.exp-order__content
			display: none
.webinar
	position: relative
	margin-bottom: 30px
	background-size: 100% 100%
	height: 380px
	.webinar__type
		position: absolute
		top: 20px
		right: 20px
		text-align: right
		font-size: 25px
		color: #fff
		font-weight: bold
		z-index: 1
	.webinar__bottom
		position: absolute
		bottom: 20px
		left: 20px
		width: 250px	
		z-index: 1
	.webinar__title
		display: inline-block
		font-size: 28px
		font-weight: 500
		color: #fff
		margin-bottom: 20px
		&:hover
			color: #fff
		+r(1219)
			font-size: 23px 	 
	.webinar__date
		font-size: 25px
		text-transform: uppercase
		color: #fff
		padding: 6px 5px 5px
		font-weight: 500 
		background: $orange   	
		text-align: center
		+r(1219)
			font-size: 20px
			display: inline-block
.page-preview_inner
	height: 380px
	&:before
		background-image: linear-gradient(transparent, transparent 50%, #F7F7F7 85%, #F7F7F7 100%)
	.btn-more
		top: auto
		bottom: 15px
		left: 50%
		transform: translateX(-50%)
		&.reload
			left: 20px
			transform: translateX(0)
			color: $orange
		.icon-arrow
			color: $orange 
	.page-preview__wrap
		font-size: 16px
		h4
			display: inline-block
	&.is-full
		.page-preview__wrap
			padding-bottom: 30px
		.btn-more
			bottom: 10px
			.icon-arrow
				+rotate(180)
.infograph
	position: relative
	height: 380px
	+cover			
					
.post-link
	margin-bottom: 20px
	a
		display: inline-block
		margin-bottom: 5px
		font-weight: 500 
		color: $orange
	.date
		display: block
		color: #999 					
.practice
	position: relative
	padding: 30px 20px 20px
	margin-bottom: 30px
	.practice__bg
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		+cover
		z-index: 1
	.practice__in
		position: relative
		z-index: 2	
		p
			font-weight: 300
			margin-bottom: 20px
		.practice__title
			font-size: 56px
			font-weight: 500
			color: #000
	+r(767)
		padding: 0 
		.practice__bg
			position: relative
			top: auto
			bottom: auto
			left: auto
			right: auto
			height: 160px
			margin-bottom: 10px
		.practice__in	
			.practice__title
				font-size: 20px 		
				color: $orange
				margin-bottom: 10px
			p
				font-size: 13px
			.btn
				width: 100%
				font-size: 15px 		 
		   







