// analytics
.analytics
	&__title
		h2
			color: #0063A7 
		
.block-link
	margin-bottom: 20px
	padding: 20px 0
	background: #F5F5F5 
	+clr
	&__img
		float: left
		padding: 5px 20px
	&__text
		overflow: hidden
		a
			display: block
			margin-bottom: 15px
			color: #333
			font-size: 18px
			font-weight: bold
			line-height: 1.1
		p
			color: #555
			line-height: 1.1
	+r(767)
		display: none
			
.links
	padding: 30px 0
	a
		display: block
		margin-bottom: 5px
		text-transform: uppercase
		color: #1C1B1E
		font-size: 15px
		font-weight: 700  
		
.banners
	margin: 50px 0
	
.follow
	&__wrap
		padding: 20px
		background: #F7F7F7
		text-align: center 
		h4
			display: inline-block
			vertical-align: middle
			margin-bottom: 0
		.form-group
			display: inline-block
			vertical-align: middle
			margin-bottom: 0
			.form-control
				width: 380px
				height: 40px
				margin: 0 20px
			.btn
				height: 40px
	

