=fira
	font-family: 'Fira Sans', sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	
$orange: #c84410	

html, body
	height: 100% 
body
	+fira
	font-size: 15px
	line-height: 1.2
	color: #000

*
	outline: none

.out
	min-height: 100%
	height: auto
	padding-top: 112px
	&.out_index
		padding-top: 132px 
	+r(991)
		padding-top: 79px
		&.out_index
			padding-top: 99px
		
		
.main
	position: relative
	overflow: hidden
	padding-top: 30px
	.main__right
		position: absolute
		top: 0
		right: 0
	+r(991)
		.main__right
			display: none
		padding-top: 0 	
					
// common blocks
.center
	text-align: center

// additional grid-class for 1600+ screen width
.col-w-1, .col-w-2, .col-w-3, .col-w-4, .col-w-5, .col-w-6,
.col-w-7, .col-w-8, .col-w-9, .col-w-10, .col-w-11, .col-w-12
	position: relative
	min-height: 1px
	float: left
	padding: 0 10px 
.col-w-1
	@media (min-width: 1620px)
		width: 8.33333333%	
.col-w-2
	@media (min-width: 1620px)
		width: 16.6666667%	
.col-w-3
	@media (min-width: 1620px)
		width: 25% 	
.col-w-4
	@media (min-width: 1620px)
		width: 33.3333333% 
.col-w-5
	@media (min-width: 1620px)
		width: 41.6666667% 		
.col-w-6
	@media (min-width: 1620px)
		width: 50%
.col-w-7
	@media (min-width: 1620px)
		width: 58.3333333%				
.col-w-8
	@media (min-width: 1620px)
		width: 66.6666667%
.col-w-9
	@media (min-width: 1620px)
		width: 75%
.col-w-10
	@media (min-width: 1620px)
		width: 83.3333333%
.col-w-11
	@media (min-width: 1620px)
		width: 91.6666667%	
.col-w-12
	@media (min-width: 1620px)
		width: 100%										
.visible-w
	display: none
	@media (min-width: 1620px)
		display: block
.hidden-w
	@media (min-width: 1620px)
		display: none		
.container
	@media (min-width: 1620px)
		width: 1600px
	

input[type="radio"], input[type="checkbox"]
	outline: none!important // remove native outline css-styles

h1, h2, h3, h4, h5, h6
	margin-top: 0
	font-weight: bold
	color: #000
h1
	font-size: 45px
	text-transform: uppercase
h2
	font-size: 30px
	text-transform: uppercase
	+r(767)
		font-size: 20px
h3
	font-size: 28px
h4
	font-size: 21px
h5
	font-size: 15px			
p
	margin: 0 	
a
	color: #0063a7
	&:hover, &:focus
		color: #1a83cd 	
button
	border: none
	background: none			
	
.title
	margin: 20px 0 10px 
	font-size: 24px
	color: #000
	
ul
	margin: 0
	padding: 0 0 0 18px
	//color: #428bca
	li
		margin-bottom: 7px
	a
		color: #428bca 
	ul
		list-style-type: none
		padding: 5px 0 0 25px 
dt
	font-weight: normal	
ol
	position: relative
	padding: 0 0 0 25px 
	ol
		list-style-type: none 		  

// alerts
.alert
	padding: 15px 0 
	strong
		display: inline-block
		margin-right: 10px
		font-weight: normal
.alert-danger
	background-color: transparent
	border-color: transparent
	color: #aa1a18   
.alert-success
	background-color: transparent
	border-color: transparent
	color: #0aa00e
	
// forms
label
	font-weight: normal
	&.required
		span
			color: #ff0000 
.form-control
	height: 38px
	border-radius: 0
.widget-upload-field
	&:after
		content: ""
		position: absolute
		top: 5px
		right: 5px
		+s(file)	
textarea
	resize: none
	&.form-control
		height: 88px
select.form-control
	-webkit-appearance: inherit
	-moz-appearance: inherit
	appearance: inherit
.form-group-select
	position: relative	
	&:after
		content: ""
		position: absolute
		top: 50%
		right: 10px
		margin-top: -3px 
		+arr(6, 6, #000, b)
.input-group .form-control
	border-radius: 0 4px 4px 0
	
// btns
.btn
	display: inline-block
	padding: 8px 42px
	max-width: 100% 
	border-radius: 0
	border: none
	background: #0063a7
	color: #fff 
	font-size: 18px
	font-weight: 500 
	transition: background 200ms 
	&:hover
		background: #1a83cd
		color: #fff	
	&.btn_red
		background: #e94508
		&:hover
			background: #FB5A1E 
	&.btn_gray
		background: #acacac
		&:hover
			background: #BFBEBE 
	&.btn_blue
		background: #0c91ed
		&:hover
			background: #40ABF5
	&.btn_orange
		background: #c84410
		&:hover
			background: darken(#c84410, 5%) 		
	+r(767)
		white-space: normal 						
.btn-lg, .btn-group-lg>.btn
	width: 100% 
	padding: 10px 
	text-transform: uppercase
.btn-red
	background: #c84410
	&:hover
		background: #e84f13	
.btn-sm, .btn-group-sm>.btn
	display: inline-block
	padding: 2px 20px
	font-size: 15px
	background: #fff
	color: #0063a7
	transition: background 200ms, color 200ms
	&:hover
		background: #1a83cd
		text-decoration: none
		color: #fff  			
// tables
.table>tbody>tr:first-child> td
	border-width: 2px

// nav
.nav-tabs
	border-bottom: none
.nav-tabs>li>a
	border-radius: 0 	
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus
	color: #fff
	border: none
	background: #747c89






