// courses
.main_courses
	background: url("..img/bg-courses.png")
	+cover

.courses
	.courses__title
		p
			color: #333
			font-size: 25px 
	.courses__top
		width: 90%
		padding: 30px 100px
		p
			color: #333
			font-size: 16px
			line-height: 26px
		   







