// courses
.main_courses
	background: url("../img/bg-courses.jpg") top center no-repeat
.courses
	.courses__title
		text-align: center
		p
			display: block
			margin: 10px 0
			color: #333
			font-size: 25px 
	.courses__top
		margin-bottom: 20px
		padding: 30px 100px
		background: rgba(#FFF, 0.7) 
		text-align: center
		p
			color: #333
			font-size: 16px
			line-height: 26px
	.courses__list
		margin: 30px 0 20px
		.box
			height: 380px
			background: #777
			color: #FFF 
			h4
				color: #FFF 
			&_white
				background: #FFF 
				color: #333
				h4
					color: #333		
		ul
			li
				margin-bottom: 20px
		span
			display: block
			margin-bottom: 20px
			a
				margin-left: 5px
				color: #2B2F4E
		&.persons
			.box
				+r(991)
					height: auto
			.person
				margin-bottom: 30px			 
	.courses__video
		.video
			height: auto
			background: none
			iframe
				height: 490px
			.video__caption
				padding-top: 10px
				color: #999
				font-size: 14px
	.courses__sidebar
		.box
			padding: 0
		.title
			margin-top: 0
			font-weight: bold 
	.courses__documents
		margin-top: 20px
		&:first-child
			margin-top: 0
		span, a
			display: block
			padding-bottom: 5px
			font-size: 14px
		span
			color: #999
		a
			color: #2B2F4E 
	.courses__links
		margin-top: 20px
		line-height: 1.6
		&:first-child
			margin-top: 0
		a
			color: #C84410
			font-weight: bold
	.courses__books
		.box
			padding: 20px
	.courses__mobile
		margin-top: 20px
		padding: 20px
		background: #FFF 
		a
			display: block
			margin-bottom: 5px
			text-decoration: none
			line-height: 2
			h2
				display: inline-block
				line-height: 1.8
				span
					display: inline
					line-height: 1
					border-bottom: 3px dotted #c84410
					
	+r(767)
		.courses__top
			padding: 20px
		.courses__title
			h1
				font-size: 35px		
.literature
	.literature__wrap
		margin-top: 30px
		h4
			text-transform: uppercase
		&.literature__more
			.courses__links
				a
					font-weight: normal
	.tabs
		text-align: left	
		.tabs__item
			float: none
			display: inline-block
			vertical-align: top
			margin-left: 10px
			width: auto
			background: none
			border: none
			&:first-child
				margin-left: 0
			&.is-active
				background: #747C89 
				.tabs__link
					color: #FFF 
		.tabs__link
			padding: 5px 10px
			text-transform: none
			color: #C84410
			line-height: 1
	.tabs-content
		border: none
		padding: 0
.book
	.book__img
		text-align: center
		font-size: 0
		margin-bottom: 25px 
		img
			display: inline-block
			max-width: 100%
	.book__title
		display: inline-block
		margin-bottom: 10px 
		font-size: 14px
		color: #2b2f4e 
	.book__details
		font-size: 14px
		color: #999
		span
			position: relative
			display: inline-block
			margin-left: 12px
			&:before
				content: "|"
				display: inline-block
				vertical-align: middle
				margin-right: 12px
			&:first-child
				margin-left: 0 
				&:before
					display: none
.drop
	position: relative
	top: -2px
	display: inline-block
	vertical-align: middle
	width: 29px
	height: 29px
	margin-left: 5px
	border-radius: 50%
	border: 2px solid $orange
	color: $orange
	font-size: 12px
	text-align: center
	transition: transform 200ms
	.icon-arrow
		line-height: 29px
.videolections
	.videolections__item
		display: block
		height: 180px
		margin-bottom: 20px
		&:hover
			text-decoration: none
		p
			color: #333 
	.videolections__video
		height: 120px
		font-size: 0
		margin-bottom: 5px
		img
			width: 100%
			height: 100%
.cat-link_drop

	&.is-open
		.drop
			+rotate(180)
// accordeon
.accordeon
	padding-top: 20px
	.accordeon__item
		margin-bottom: 10px
	.accordeon__title
		position: relative
		font-size: 16px
		color: #0367a5
		text-transform: uppercase
		&:before
			content: "\EA06"
			position: absolute
			top: 8px
			right: -23px	
			@extend %icon
			font-size: 8px
			color: #747c89
			opacity: 0
			visibility: hidden
			transition: opacity 200ms
			+rotate(180)
		&:after
			content: ""
			position: absolute 
			top: 1px
			right: -27px
			width: 21px
			height: 21px
			border-radius: 50%
			border: 2px solid #747c89
			opacity: 0
			visibility: hidden
			transition: opacity 200ms
		span
			display: inline-block
			border-bottom: 2px dotted
		&:hover
			color: #2b2f4e
			span
				border-color: #2b2f4e	
		&.is-open
			color: #2b2f4e 
			&:before, &:after
				visibility: visible
				opacity: 1 
			span
				border-color: #2b2f4e
	.accordeon__content
		padding: 20px 0 40px
		font-size: 14px
		line-height: 1.4
.soc
	margin-bottom: 20px
	span, img
		display: inline-block
		vertical-align: middle
	span
		margin-right: 35px
		font-size: 14px
		color: #999  						 		   







