// footer
.footer
	padding: 30px 0 0
	background: #333 
	&__title
		color: #FFF
		font-size: 15px
	&__copyright
		color: #999
		font-size: 10px 
		line-height: 1.2
	&__socials
		padding: 15px 0 0
		font-size: 0
		a
			display: inline-block
			vertical-align: middle
	&__banner
		margin-bottom: 25px
	&__search
		+clr
		.footer__title
			float: left
			height: 33px
			margin-right: 10px
			p
				margin: 7px 0 0
		.form-group
			overflow: hidden
			&.right
				float: right
				overflow: auto
			.btn, 
				height: 33px
				padding: 5px 49px
			.form-control
				height: 33px
	+r(767)
		.footer__left
			flex-direction: column
			order: 2
		.footer__right
			flex-direction: column
			order: 1
		.footer__banner
			display: none
		.footer__search
			display: none
			
.row
	+r(767)
		display: flex





