// header
.header
	position: relative
	background: #0063a7
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.24)
	.header__logo
		float: left
		width: 180px
		margin-right: 18px
	.header__in
		overflow: hidden
		padding-top: 30px
	.header__topper
		+clr

.logo
	display: block
	padding: 10px 
	background: #fff  
	text-shadow: none
	&:hover
		text-decoration: none
	& > i
		display: inline-block
		+sr(logo)
	& > p
		font-weight: bold
		font-size: 11px
		color: #000
		line-height: 1
		text-transform: uppercase 	
.top-nav
	float: left
	font-size: 0
	a
		display: inline-block
		vertical-align: middle
		margin-left: 18px
		font-size: 15px
		color: #fff
		font-weight: 300 
		&:first-child
			margin-left: 0
.header__profile
	float: right
	font-size: 0
.m-user
	position: relative
	display: inline-block
	vertical-align: middle
	width: 140px
	height: 25px
	padding-left: 29px
	margin-right: 14px 
	font-size: 15px
	font-weight: 300
	color: #fff
	text-decoration: none
	.m-user__img
		position: absolute
		top: 50%
		left: 0
		margin-top: -12px
		width: 25px
		height: 25px
		border-radius: 50%
		overflow: hidden
		img
			width: 100%
			height: 100%
			border-radius: 50%
	span
		display: block
		+text-overflow
		border-bottom: 1px dotted
	&:hover
		text-decoration: none
		color: #fff

.m-reader
	position: relative
	display: inline-block
	vertical-align: middle
	margin-right: 14px 
	font-size: 15px
	font-weight: 300
	color: #fff
	text-decoration: none
	i, span
		display: inline-block
		vertical-align: middle
	span
		border-bottom: 1px dotted
	&:hover
		text-decoration: none
		color: #fff
.logout
	display: inline-block
	vertical-align: middle
.header__tools
	overflow: hidden
	text-align: center	
.lang, .search, .socials
	display: inline-block
	vertical-align: middle
.lang
	font-size: 0
	margin-right: 20px
	a	
		position: relative
		display: inline-block
		vertical-align: middle
		margin: 0 2px 
		font-size: 15px
		color: #fff
		font-weight: 300
		text-decoration: none
		&:before
			content: "|"
			display: inline-block
			margin-right: 2px
		&:first-child
			&:before
				content: ""	
		&:hover
			text-decoration: none
		&.is-active
			font-weight: 500 	 
.search
	margin-right: 14px
	a
		display: inline-block
		+sr(search)



