// header
.header
	position: relative
	margin-bottom: 20px
	.header__content
		position: relative
		background: #0063a7
	.header__logo
		float: left
		width: 180px
		margin-right: 18px
		+r(991)
			float: none
			width: 100%
			margin-right: 0
		+r(767)
			margin-bottom: 10px	 
	.header__in
		position: relative
		overflow: hidden
		padding-top: 30px
		+r(991)
			overflow: visible
			padding-top: 0
	.header__topper
		+clr
		+r(991)
			position: absolute
			top: -30px
			right: 0
		+r(767)
			position: relative
			top: auto
			right: auto	
			padding-bottom: 15px
	.header__bottom
		+r-min(768)
			display: block!important
		+r(767)
			display: none
			position: absolute
			top: 36px
			left: -10px
			right: -10px
			background: #e8eced
			z-index: 99 
.logo
	position: relative
	display: block
	padding: 10px 
	background: #fff  
	text-shadow: none
	&:hover
		text-decoration: none
	& > i
		position: relative
		display: inline-block
		+sr(logo)
	& > p
		font-weight: bold
		font-size: 11px
		color: #000
		line-height: 1
		text-transform: uppercase
	+r(991)
		display: inline-block
		background: none 
		padding: 5px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 60px
			height: 40px
			background: #FFF 
			z-index: 0
		& > i
			+sr(logo-small)	
		& > p
			display: inline-block
			vertical-align: top
			max-width: 200px
			padding-top: 4px 
			padding-left: 20px 
			color: #fff 	
			font-size: 13px
			font-weight: 500  	
.top-nav
	float: left
	font-size: 0
	+r(991)
		display: none
	a
		display: inline-block
		vertical-align: middle
		margin-left: 18px
		font-size: 15px
		color: #fff
		font-weight: 300 
		&:first-child
			margin-left: 0
.header__profile
	float: right
	font-size: 0
	.hamb
		margin-left: 45px
.m-user
	position: relative
	display: inline-block
	vertical-align: middle
	width: 140px
	height: 25px
	padding-left: 29px
	margin-right: 14px 
	font-size: 15px
	font-weight: 300
	color: #fff
	text-decoration: none
	.m-user__img
		position: absolute
		top: 50%
		left: 0
		margin-top: -12px
		width: 25px
		height: 25px
		border-radius: 50%
		overflow: hidden
		img
			width: 100%
			height: 100%
			border-radius: 50%
	span
		display: block
		+text-overflow
		border-bottom: 1px dotted
	&:hover
		text-decoration: none
		color: #fff
	+r(991)
		padding-left: 0 
		margin-left: 45px
		+sr(user)
		.m-user__img, span
			display: none

.m-reader
	position: relative
	display: inline-block
	vertical-align: middle
	margin-right: 14px 
	font-size: 15px
	font-weight: 300
	color: #fff
	text-decoration: none
	i, span
		display: inline-block
		vertical-align: middle
	span
		border-bottom: 1px dotted
	&:hover
		text-decoration: none
		color: #fff
	+r(991)
		margin-right: 0
		margin-left: 45px
		span
			display: none	
.logout
	display: inline-block
	vertical-align: middle
	+r(991)
		display: none
.header__tools
	overflow: hidden
	text-align: center
	+r(767)
		overflow: visible
		float: right
	.socials
		+r(1199)
			display: none
.lang, .search, .socials
	display: inline-block
	vertical-align: middle
.lang
	font-size: 0
	margin-right: 20px
	+r(991)
		display: none
	a	
		position: relative
		display: inline-block
		vertical-align: middle
		margin: 0 2px 
		font-size: 15px
		color: #fff
		font-weight: 300
		text-decoration: none
		&:before
			content: "|"
			display: inline-block
			margin-right: 2px
		&:first-child
			&:before
				content: ""	
		&:hover
			text-decoration: none
		&.is-active
			font-weight: 500 	 
.search
	margin-right: 14px
	a
		display: inline-block
		+sr(search)
.nav
	padding-top: 25px
	+r(991)
		padding-top: 10px
		padding-bottom: 5px
.menu
	+justify
	.menu__item
		display: inline-block
		vertical-align: top
		line-height: 1
		font-size: 23px
		color: #fff
		text-decoration: none
		text-transform: uppercase
		border-bottom: 5px solid transparent
		transition: border-color 200ms
		&:hover
			text-decoration: none
		&.is-active, &:hover
			border-color: #fff
	+r(1199)
		.menu__item
			font-size: 18px
			border-bottom-width: 3px
	+r(767)
		.menu__item
			display: block
			text-align: center
			margin-bottom: 15px
			color: #333 			
.sub-menu
	background: #e8eced 
	padding: 35px 0 	
	box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.24)		
	.submenu__nav
		a
			display: block
			margin-bottom: 15px
			font-size: 18px
			font-weight: 500
			color: #333  
			text-decoration: none
			&:hover
				text-decoration: underline

.img-link
	position: relative 
	display: block  
	height: 380px 
	+cover
	margin-bottom: 20px
	padding: 10px 
	&:first-child
		margin-top: 0
	&.img-link_small
		width: 192px
		height: 192px
	.img-link__link
		position: absolute
		bottom: 10px
		left: 10px
		right: 10px
		color: #fff
		font-size: 15px
		font-weight: 500  	
.news-link
	margin-top: 25px
	color: #333 
	&:first-child
		margin-top: 0
	.news-link__link
		display: block
		margin-bottom: 5px 
		font-size: 17px
		color: #333
		font-weight: 700
	.date
		&:after
			content: "|"
			display: inline-block
			vertical-align: middle
			margin: 0 2px 
.date
	position: relative
	display: inline-block
	vertical-align: middle
	font-size: 15px 
.person
	position: relative
	margin-top: 25px
	&:first-child
		margin-top: 0
	.person__img
		display: table-cell
		vertical-align: middle
		width: 100px
		height: 100px
		border-radius: 50%
		overflow: hidden
		img
			display: block
			width: 100% 	
			border-radius: 50%
	.person__content
		display: table-cell
		padding: 0 10px 
		vertical-align: middle
	.person__name
		display: block
		margin-bottom: 5px
					



