// projects.html
.btn-border
    width: 100% 
    padding: 10px 20px
    border: 2px solid #0063A7 
    margin-bottom: 20px
    font-size: 15px
    background: #fff
    color: #0063a7
    &:hover
        background: #0063A7
        text-decoration: none
        color: #fff 
 
.profile
    min-height: 200px
    padding-bottom: 20px
    color: #333
    .profile__top
        display: block
    .profile__img
        float: left
        padding: 0 25px 25px 0
    .profile__content
        display: block
        overflow: hidden
        padding: 10px 0
        p
            display: block
            padding-bottom: 10px
            font-size: 24px
            font-weight: bold
        span
            text-transform: uppercase
            color: #999
            font-size: 12px
    .profile__contacts
        display: block
        span
            display: block
            padding-bottom: 5px
            font-size: 15px
            a
                padding-left: 5px
                color: #2B2F4E
                &.profile__tel
                    color: #333
    .profile__title
        font-size: 24px
    .profile__text
        font-size: 15px
        
.page-preview_press
    .btn-red
        margin-bottom: 20px
    .btn-lg
        text-transform: none
        
.press-btns
    padding: 10px 0 20px
    margin: 0
    
.press-center 
    .calendar
        position: static
        display: block
        margin-top: 20px
        padding: 0
        width: auto
        height: auto
    .press-center__link
        span
            display: block
            padding-bottom: 20px
            a
                padding-left: 5px
    .video
        background: #F5F5F5
        .video__info
            a
                color: #333

.box__wrap
    padding: 20px
    border-bottom: 1px solid #EAEAEA 
    &:last-child
        border: none
                
.documents 
    .box
        height: 500px
        padding: 0
    .documents__item
        margin-top: 20px
    .documents__title
        margin-bottom: 20px
    .documents__year
        margin-bottom: 20px
        text-transform: uppercase
        color: #333
        font-size: 18px
    .documents__img
        text-align: center
        font-size: 0
    .documents__text
        margin-top: 20px
        &:first-child
            margin-top: 0
        span, a
            display: block
            padding-bottom: 5px
            font-size: 14px
        span
            color: #999
        a
            color: #2B2F4E 
            
.materials
    padding: 20px 0
    margin-bottom: 20px
    background: #F7F7F7
    text-align: center
    font-size: 15px
    line-height: 22px
    img
        margin: 20px 0
    p
        display: block
        padding: 0 20px
        color: #333
        a
            color: #2B2F4E 





