$icons: (0:0)
$icons: map-merge($icons,(book: (X: -138px, Y:-134px, W: 30px, H: 36px, TW: 210px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(exit: (X: 0px, Y:-180px, W: 30px, H: 30px, TW: 210px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(fb: (X: 0px, Y:-134px, W: 42px, H: 42px, TW: 210px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(file: (X: -34px, Y:-180px, W: 20px, H: 22px, TW: 210px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo: (X: 0px, Y:0px, W: 210px, H: 130px, TW: 210px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(search: (X: -172px, Y:-134px, W: 32px, H: 32px, TW: 210px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(tw: (X: -46px, Y:-134px, W: 42px, H: 42px, TW: 210px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(vk: (X: -92px, Y:-134px, W: 42px, H: 42px, TW: 210px, TH: 210px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin sprite-retina($iconName)
	background-image: url(icon-attr($iconName, IMG))
	$width: icon-attr($iconName, W)
	$height: icon-attr($iconName, H)
	width: $width/2
	height: $height/2
	$x: icon-attr($iconName, X)
	$y: icon-attr($iconName, Y)
	background-position: $x/2 $y/2
	$tw: icon-attr($iconName, TW) 	
	$th: icon-attr($iconName, TH)
	background-size: $tw/2 $th/2  	


@mixin s($i)
	+sprite($i)

@mixin sr($i)
	+sprite-retina($i)	

.i-book
	display: inline-block
	width: ceil(30px / 2)
	height: ceil(36px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-138px /2) ceil(-134px / 2)
	background-size: ceil(210px / 2) ceil(210px / 2)
.i-exit
	display: inline-block
	width: ceil(30px / 2)
	height: ceil(30px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-180px / 2)
	background-size: ceil(210px / 2) ceil(210px / 2)
.i-fb
	display: inline-block
	width: ceil(42px / 2)
	height: ceil(42px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-134px / 2)
	background-size: ceil(210px / 2) ceil(210px / 2)
.i-file
	display: inline-block
	width: ceil(20px / 2)
	height: ceil(22px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-34px /2) ceil(-180px / 2)
	background-size: ceil(210px / 2) ceil(210px / 2)
.i-logo
	display: inline-block
	width: ceil(210px / 2)
	height: ceil(130px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(0px / 2)
	background-size: ceil(210px / 2) ceil(210px / 2)
.i-search
	display: inline-block
	width: ceil(32px / 2)
	height: ceil(32px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-172px /2) ceil(-134px / 2)
	background-size: ceil(210px / 2) ceil(210px / 2)
.i-tw
	display: inline-block
	width: ceil(42px / 2)
	height: ceil(42px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-46px /2) ceil(-134px / 2)
	background-size: ceil(210px / 2) ceil(210px / 2)
.i-vk
	display: inline-block
	width: ceil(42px / 2)
	height: ceil(42px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-92px /2) ceil(-134px / 2)
	background-size: ceil(210px / 2) ceil(210px / 2)





