$icons: (0:0)
$icons: map-merge($icons,(book: (X: -214px, Y:-92px, W: 30px, H: 36px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(comment: (X: -214px, Y:-132px, W: 32px, H: 32px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(exit: (X: -72px, Y:-194px, W: 30px, H: 30px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(fb: (X: -144px, Y:-134px, W: 42px, H: 42px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(file: (X: -214px, Y:-168px, W: 20px, H: 22px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo-small: (X: 0px, Y:-134px, W: 92px, H: 56px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo: (X: 0px, Y:0px, W: 210px, H: 130px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(more: (X: -106px, Y:-194px, W: 21px, H: 12px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(search: (X: 0px, Y:-194px, W: 32px, H: 32px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(tw: (X: -214px, Y:0px, W: 42px, H: 42px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(user: (X: -36px, Y:-194px, W: 32px, H: 32px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(view: (X: -96px, Y:-134px, W: 44px, H: 44px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(vk: (X: -214px, Y:-46px, W: 42px, H: 42px, TW: 256px, TH: 226px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin sprite-retina($iconName)
	background-image: url(icon-attr($iconName, IMG))
	$width: icon-attr($iconName, W)
	$height: icon-attr($iconName, H)
	width: $width/2
	height: $height/2
	$x: icon-attr($iconName, X)
	$y: icon-attr($iconName, Y)
	background-position: $x/2 $y/2
	$tw: icon-attr($iconName, TW) 	
	$th: icon-attr($iconName, TH)
	background-size: $tw/2 $th/2  	


@mixin s($i)
	+sprite($i)

@mixin sr($i)
	+sprite-retina($i)	

.i-book
	display: inline-block
	width: ceil(30px / 2)
	height: ceil(36px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-214px /2) ceil(-92px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)
.i-comment
	display: inline-block
	width: ceil(32px / 2)
	height: ceil(32px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-214px /2) ceil(-132px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)
.i-exit
	display: inline-block
	width: ceil(30px / 2)
	height: ceil(30px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-72px /2) ceil(-194px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)
.i-fb
	display: inline-block
	width: ceil(42px / 2)
	height: ceil(42px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-144px /2) ceil(-134px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)
.i-file
	display: inline-block
	width: ceil(20px / 2)
	height: ceil(22px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-214px /2) ceil(-168px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)
.i-logo-small
	display: inline-block
	width: ceil(92px / 2)
	height: ceil(56px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-134px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)
.i-logo
	display: inline-block
	width: ceil(210px / 2)
	height: ceil(130px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(0px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)
.i-more
	display: inline-block
	width: ceil(21px / 2)
	height: ceil(12px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-106px /2) ceil(-194px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)
.i-search
	display: inline-block
	width: ceil(32px / 2)
	height: ceil(32px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-194px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)
.i-tw
	display: inline-block
	width: ceil(42px / 2)
	height: ceil(42px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-214px /2) ceil(0px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)
.i-user
	display: inline-block
	width: ceil(32px / 2)
	height: ceil(32px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-36px /2) ceil(-194px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)
.i-view
	display: inline-block
	width: ceil(44px / 2)
	height: ceil(44px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-96px /2) ceil(-134px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)
.i-vk
	display: inline-block
	width: ceil(42px / 2)
	height: ceil(42px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-214px /2) ceil(-46px / 2)
	background-size: ceil(256px / 2) ceil(226px / 2)





