@charset "UTF-8";
.i-book { display: inline-block; width: 15px; height: 18px; background-image: url("../img/icons.png"); background-position: -107px -23px; background-size: 128px 95px; }

.i-exit { display: inline-block; width: 15px; height: 15px; background-image: url("../img/icons.png"); background-position: -107px -79px; background-size: 128px 95px; }

.i-fb { display: inline-block; width: 21px; height: 21px; background-image: url("../img/icons.png"); background-position: -48px -67px; background-size: 128px 95px; }

.i-file { display: inline-block; width: 10px; height: 11px; background-image: url("../img/icons.png"); background-position: -94px -67px; background-size: 128px 95px; }

.i-logo-small { display: inline-block; width: 46px; height: 28px; background-image: url("../img/icons.png"); background-position: 0px -67px; background-size: 128px 95px; }

.i-logo { display: inline-block; width: 105px; height: 65px; background-image: url("../img/icons.png"); background-position: 0px 0px; background-size: 128px 95px; }

.i-search { display: inline-block; width: 16px; height: 16px; background-image: url("../img/icons.png"); background-position: -107px -43px; background-size: 128px 95px; }

.i-tw { display: inline-block; width: 21px; height: 21px; background-image: url("../img/icons.png"); background-position: -71px -67px; background-size: 128px 95px; }

.i-user { display: inline-block; width: 16px; height: 16px; background-image: url("../img/icons.png"); background-position: -107px -61px; background-size: 128px 95px; }

.i-vk { display: inline-block; width: 21px; height: 21px; background-image: url("../img/icons.png"); background-position: -107px 0px; background-size: 128px 95px; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-sepa:before { content: ""; }

.icon-skrill:before { content: ""; }

html, body { height: 100%; }

body { font-family: "Fira Sans", sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 15px; line-height: 1.2; color: #000; }

.out { min-height: 100%; height: auto; }

@media (min-width: 1600px) { .container { width: 1600px; } }

input[type="radio"], input[type="checkbox"] { outline: none !important; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; font-weight: bold; color: #000; }

h1 { font-size: 45px; text-transform: uppercase; }

h2 { font-size: 30px; text-transform: uppercase; }

h3 { font-size: 28px; }

h4 { font-size: 21px; }

p { margin: 0; }

a { color: #0063a7; }
a:hover, a:focus { color: #1a83cd; }

button { border: none; background: none; outline: none; }

.title { margin: 20px 0 10px; font-size: 24px; color: #000; }

ul { margin: 0; padding: 0 0 0 18px; color: #428bca; }
ul li { margin-bottom: 7px; }
ul a { color: #428bca; }
ul ul { list-style-type: none; padding: 5px 0 0 25px; }

dt { font-weight: normal; }

ol { position: relative; padding: 0 0 0 25px; }
ol ol { list-style-type: none; }

.alert { padding: 15px 0; }
.alert strong { display: inline-block; margin-right: 10px; font-weight: normal; }

.alert-danger { background-color: transparent; border-color: transparent; color: #aa1a18; }

.alert-success { background-color: transparent; border-color: transparent; color: #0aa00e; }

label { font-weight: normal; }
label.required span { color: #ff0000; }

.form-control { height: 38px; border-radius: 0; }

.widget-upload-field:after { content: ""; position: absolute; top: 5px; right: 5px; background-image: url("../img/icons.png"); width: 20px; height: 22px; background-position: -188px -134px; }

textarea { resize: none; }
textarea.form-control { height: 88px; }

select.form-control { -webkit-appearance: inherit; -moz-appearance: inherit; appearance: inherit; }

.form-group-select { position: relative; }
.form-group-select:after { content: ""; position: absolute; top: 50%; right: 10px; margin-top: -3px; width: 0px; height: 0px; border-style: solid; border-width: 6px 3px 0 3px; border-color: #000 transparent transparent transparent; }

.input-group .form-control { border-radius: 0 4px 4px 0; }

.btn { padding: 8px 42px; border-radius: 0; border: none; background: #0063a7; color: #fff; font-size: 18px; font-weight: 500; transition: background 200ms; }
.btn:hover { background: #1a83cd; color: #fff; }

.btn-lg, .btn-group-lg > .btn { width: 100%; padding: 10px; text-transform: uppercase; }

.btn-red { background: #c84410; }
.btn-red:hover { background: #e84f13; }

.btn-sm, .btn-group-sm > .btn { padding: 2px 20px; font-size: 15px; background: transparent; color: #0063a7; }
.btn-sm:hover, .btn-group-sm > .btn:hover { background: #1a83cd; color: #fff; }

.table > tbody > tr:first-child > td { border-width: 2px; }

.nav-tabs { border-bottom: none; }

.nav-tabs > li > a { border-radius: 0; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { color: #fff; border: none; background: #747c89; }

.footer { padding: 10px 0 0; background: #333; }
.footer__title { padding: 10px 0; color: #FFF; font-size: 15px; }
.footer__copyright { padding-bottom: 10px; color: #999; font-size: 10px; line-height: 1.2; }
.footer__mobile { display: none; }
.footer__socials { padding: 5px 0 20px; font-size: 0; }
.footer__socials a { display: inline-block; vertical-align: middle; }
.footer__banner { margin-bottom: 25px; }
.footer__search { *zoom: 1; }
.footer__search:after { content: " "; display: table; clear: both; }
.footer__search .footer__title { float: left; padding-top: 0; height: 33px; margin-right: 10px; }
.footer__search .footer__title p { margin: 7px 0 0; }
.footer__search .form-group { overflow: hidden; }
.footer__search .form-group.right { float: right; overflow: auto; }
.footer__search .form-group .btn { height: 33px; padding: 5px 49px; }
.footer__search .form-group .form-control { height: 33px; }
@media only screen and (max-width: 767px) { .footer > .container > .row { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
  .footer .footer__banner { display: none; }
  .footer .footer__search { display: none; }
  .footer .footer__mobile { display: block; *zoom: 1; }
  .footer .footer__mobile:after { content: " "; display: table; clear: both; }
  .footer .footer__mobile a { float: left; text-decoration: underline; color: #FFF; font-size: 15px; } }

.hamb { float: right; display: block; padding: 8px 0; }
.hamb span { position: relative; display: block; width: 20px; height: 4px; background: #FFF; }
.hamb span:before, .hamb span:after { content: ""; position: absolute; left: 0; width: 20px; height: 4px; background: #FFF; }
.hamb span:before { top: -7px; }
.hamb span:after { top: 7px; }

.header { position: relative; margin-bottom: 20px; }
.header .header__content { position: relative; background: #0063a7; }
.header .header__logo { float: left; width: 180px; margin-right: 18px; }
@media only screen and (max-width: 991px) { .header .header__logo { float: none; width: 100%; margin-right: 0; } }
@media only screen and (max-width: 767px) { .header .header__logo { margin-bottom: 10px; } }
.header .header__in { position: relative; overflow: hidden; padding-top: 30px; }
@media only screen and (max-width: 991px) { .header .header__in { overflow: visible; padding-top: 0; } }
.header .header__topper { *zoom: 1; }
.header .header__topper:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 991px) { .header .header__topper { position: absolute; top: -30px; right: 0; } }
@media only screen and (max-width: 767px) { .header .header__topper { position: relative; top: auto; right: auto; padding-bottom: 15px; } }
@media (min-width: 768px) { .header .header__bottom { display: block !important; } }
@media only screen and (max-width: 767px) { .header .header__bottom { display: none; position: absolute; top: 36px; left: -10px; right: -10px; background: #e8eced; z-index: 99; } }

.logo { position: relative; display: block; padding: 10px; background: #fff; text-shadow: none; }
.logo:hover { text-decoration: none; }
.logo > i { position: relative; display: inline-block; background-image: url("../img/icons.png"); width: 105px; height: 65px; background-position: 0px 0px; background-size: 128px 95px; }
.logo > p { font-weight: bold; font-size: 11px; color: #000; line-height: 1; text-transform: uppercase; }
@media only screen and (max-width: 991px) { .logo { display: inline-block; background: none; padding: 5px; }
  .logo:before { content: ""; position: absolute; top: 0; left: 0; width: 60px; height: 40px; background: #FFF; z-index: 0; }
  .logo > i { background-image: url("../img/icons.png"); width: 46px; height: 28px; background-position: 0px -67px; background-size: 128px 95px; }
  .logo > p { display: inline-block; vertical-align: top; max-width: 200px; padding-top: 4px; padding-left: 20px; color: #fff; font-size: 13px; font-weight: 500; } }

.top-nav { float: left; font-size: 0; }
@media only screen and (max-width: 991px) { .top-nav { display: none; } }
.top-nav a { display: inline-block; vertical-align: middle; margin-left: 18px; font-size: 15px; color: #fff; font-weight: 300; }
.top-nav a:first-child { margin-left: 0; }

.header__profile { float: right; font-size: 0; }
.header__profile .hamb { margin-left: 45px; }

.m-user { position: relative; display: inline-block; vertical-align: middle; width: 140px; height: 25px; padding-left: 29px; margin-right: 14px; font-size: 15px; font-weight: 300; color: #fff; text-decoration: none; }
.m-user .m-user__img { position: absolute; top: 50%; left: 0; margin-top: -12px; width: 25px; height: 25px; border-radius: 50%; overflow: hidden; }
.m-user .m-user__img img { width: 100%; height: 100%; border-radius: 50%; }
.m-user span { display: block; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; border-bottom: 1px dotted; }
.m-user:hover { text-decoration: none; color: #fff; }
@media only screen and (max-width: 991px) { .m-user { padding-left: 0; margin-left: 45px; background-image: url("../img/icons.png"); width: 16px; height: 16px; background-position: -107px -61px; background-size: 128px 95px; }
  .m-user .m-user__img, .m-user span { display: none; } }

.m-reader { position: relative; display: inline-block; vertical-align: middle; margin-right: 14px; font-size: 15px; font-weight: 300; color: #fff; text-decoration: none; }
.m-reader i, .m-reader span { display: inline-block; vertical-align: middle; }
.m-reader span { border-bottom: 1px dotted; }
.m-reader:hover { text-decoration: none; color: #fff; }
@media only screen and (max-width: 991px) { .m-reader { margin-right: 0; margin-left: 45px; }
  .m-reader span { display: none; } }

.logout { display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 991px) { .logout { display: none; } }

.header__tools { overflow: hidden; text-align: center; }
@media only screen and (max-width: 767px) { .header__tools { overflow: visible; float: right; } }
@media only screen and (max-width: 1199px) { .header__tools .socials { display: none; } }

.lang, .search, .socials { display: inline-block; vertical-align: middle; }

.lang { font-size: 0; margin-right: 20px; }
@media only screen and (max-width: 991px) { .lang { display: none; } }
.lang a { position: relative; display: inline-block; vertical-align: middle; margin: 0 2px; font-size: 15px; color: #fff; font-weight: 300; text-decoration: none; }
.lang a:before { content: "|"; display: inline-block; margin-right: 2px; }
.lang a:first-child:before { content: ""; }
.lang a:hover { text-decoration: none; }
.lang a.is-active { font-weight: 500; }

.search { margin-right: 14px; }
.search a { display: inline-block; background-image: url("../img/icons.png"); width: 16px; height: 16px; background-position: -107px -43px; background-size: 128px 95px; }

.nav { padding-top: 25px; }
@media only screen and (max-width: 991px) { .nav { padding-top: 10px; padding-bottom: 5px; } }

.menu { text-align: justify; line-height: 0; font-size: 0; text-justify: newspaper; zoom: 1; -moz-text-align-last: justify; text-align-last: justify; }
.menu:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.menu .menu__item { display: inline-block; vertical-align: top; line-height: 1; font-size: 23px; color: #fff; text-decoration: none; text-transform: uppercase; border-bottom: 5px solid transparent; transition: border-color 200ms; }
.menu .menu__item:hover { text-decoration: none; }
.menu .menu__item.is-active, .menu .menu__item:hover { border-color: #fff; }
@media only screen and (max-width: 1199px) { .menu .menu__item { font-size: 18px; border-bottom-width: 3px; } }
@media only screen and (max-width: 767px) { .menu .menu__item { display: block; text-align: center; margin-bottom: 15px; color: #333; } }

.sub-menu { background: #e8eced; padding: 35px 0; box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.24); }
.sub-menu .submenu__nav a { display: block; margin-bottom: 15px; font-size: 18px; font-weight: 500; color: #333; text-decoration: none; }
.sub-menu .submenu__nav a:hover { text-decoration: underline; }

.tag { display: inline-block; padding: 5px 8px 4px; background: #0063a7; font-size: 13px; color: #fff; text-transform: uppercase; }
.tag:hover { color: #fff; text-decoration: none; }

.img-link { position: relative; display: block; height: 380px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin-bottom: 20px; padding: 10px; }
.img-link:before { content: ""; position: absolute; top: 0; bottom: 0; right: 0; left: 0; background: rgba(8, 36, 56, 0.8); opacity: 0; transition: opacity 200ms; z-index: 0; }
.img-link .img-link__bottom { position: absolute; bottom: 0; left: 0; right: 0; padding: 18px; background-image: linear-gradient(transparent, black); }
.img-link .img-link__link { display: inline-block; margin: 5px 0; color: #fff; font-size: 25px; font-weight: 500; }
.img-link .img-link__link:hover { text-decoration: none; }
.img-link .img-link__author { color: #fff; }
.img-link .img-link__top { position: relative; color: #fff; z-index: 9; opacity: 0; transition: opacity 300ms; }
.img-link:first-child { margin-top: 0; }
.img-link:hover:before, .img-link:hover .img-link__top { opacity: 1; }
.img-link.img-link_small { width: 192px; height: 192px; }
.img-link.img-link_small .img-link__link { font-size: 15px; }
.img-link.img-link_wide .img-link__link { font-size: 35px; }

.stats { margin-bottom: 20px; }
.stats .stats__comments { float: left; margin-right: 14px; }
.stats .stats__views { float: left; }
.stats .date { float: right; padding-right: 20px; }

.preview > p { margin-bottom: 20px; }
.preview .preview__btn { background: #fff; height: 30px; padding: 0 9px; font-size: 15px; color: #0063a7; }

.news-link { margin-top: 25px; color: #333; }
.news-link:first-child { margin-top: 0; }
.news-link .news-link__link { display: block; margin-bottom: 5px; font-size: 17px; color: #333; font-weight: 700; }
.news-link .date:after { content: "|"; display: inline-block; vertical-align: middle; margin: 0 2px; }

.date { position: relative; display: inline-block; vertical-align: middle; font-size: 15px; }

.person { position: relative; margin-top: 25px; }
.person:first-child { margin-top: 0; }
.person .person__img { display: table-cell; vertical-align: middle; width: 100px; height: 100px; border-radius: 50%; overflow: hidden; }
.person .person__img img { display: block; width: 100%; border-radius: 50%; }
.person .person__content { display: table-cell; padding: 0 10px; vertical-align: middle; }
.person .person__name { display: block; margin-bottom: 5px; }

.analytics .analytics__title h2 { color: #0063A7; }

.block-link { margin-bottom: 20px; padding: 20px 0; background: #F5F5F5; *zoom: 1; }
.block-link:after { content: " "; display: table; clear: both; }
.block-link .block-link__img { float: left; padding: 5px 20px; }
.block-link .block-link__text { overflow: hidden; }
.block-link .block-link__text a { display: block; margin-bottom: 15px; color: #333; font-size: 18px; font-weight: bold; line-height: 1.1; }
.block-link .block-link__text p { color: #555; line-height: 1.1; }
@media only screen and (max-width: 767px) { .block-link { display: none; } }

.links { padding: 30px 0; }
.links a { display: block; margin-bottom: 5px; text-transform: uppercase; color: #1C1B1E; font-size: 15px; font-weight: 700; }

.banners { margin: 50px 0; }

.follow .follow__wrap { padding: 20px 0; background: #F7F7F7; text-align: center; }
.follow .follow__wrap h4 { display: inline-block; vertical-align: middle; margin-bottom: 0; }
.follow .follow__wrap .form-group { display: inline-block; vertical-align: middle; margin-bottom: 0; }
.follow .follow__wrap .form-group .form-control { width: 380px; height: 40px; margin: 0 20px; }
.follow .follow__wrap .form-group .btn { height: 40px; }
.follow .follow__wrap .form-group .btn-sm { margin-left: 20px; }
@media only screen and (max-width: 1199px) { .follow .follow__wrap .form-group .form-control { width: 100%; } }
@media only screen and (max-width: 991px) { .follow .follow__wrap .form-group .btn { margin-top: 10px; } }
@media only screen and (max-width: 767px) { .follow .follow__wrap h4 { display: block; }
  .follow .follow__wrap .form-group { display: block; margin: 10px; }
  .follow .follow__wrap .form-group .form-control { margin: 0; }
  .follow .follow__wrap .form-group .btn { width: 100%; }
  .follow .follow__wrap .form-group .btn-sm { margin: 0; } }

.poll { margin-bottom: 50px; }
.poll p { color: #333; }
.poll .poll__text p { font-weight: 700; }
.poll .poll__item input[type="radio"] { margin-top: 0; }



/*# sourceMappingURL=screen.css.map */
