<div class="container">
	<div class="row">
		<div class="col-lg-2 col-md-3">
			<div class="submenu__nav">
				<a href="#">Украинский кризис</a>
				<a href="#">Безопасность</a>
				<a href="#">Образование и наука</a>
				<a href="#">Технологии</a>
				<a href="#">Экология</a>
				<a href="#">Экономика</a>
				<a href="#">Энергетика</a>
				<a href="#">Европа</a>
				<a href="#">Общество и культура</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 visible-md visible-lg">
			<div class="row">
				<div class="col-md-6">
					<div href="#" class="img-link img-link_small" style="background-image: url(img/img1.jpg);">
						<div class="img-link__bottom">
							<a href="#" class="img-link__link">На нервной почве вопросы безопасности не решаются</a>
						</div>
					</div>
					<div href="#" class="img-link img-link_small" style="background-image: url(img/img1.jpg);">
						<div class="img-link__bottom">
							<a href="#" class="img-link__link">На нервной почве вопросы безопасности не решаются</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div href="#" class="img-link img-link_small" style="background-image: url(img/img1.jpg);">
						<div class="img-link__bottom">
							<a href="#" class="img-link__link">На нервной почве вопросы безопасности не решаются</a>
						</div>
					</div>
					<div href="#" class="img-link img-link_small" style="background-image: url(img/img1.jpg);">
						<div class="img-link__bottom">
							<a href="#" class="img-link__link">На нервной почве вопросы безопасности не решаются</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 visible-md visible-lg">
			<div class="news-link">
				<a href="#" class="news-link__link">Новый глобальный консенсус ответственных сил</a>
				<div class="news-link__details">
					<div class="date">05 февраля 2015</div>
					<a href="#" class="author">Александр Аксененок</a>
				</div>
			</div>
			<div class="news-link">
				<a href="#" class="news-link__link">Украина: перманентный Майдан</a>
				<div class="news-link__details">
					<div class="date">05 февраля 2015</div>
					<a href="#" class="author">Ростислав Ищенко</a>
				</div>
			</div>
			<div class="news-link">
				<a href="#" class="news-link__link">Парламентские выборы в Латвийской республике: мифология в условиях и одна историческая аналогия</a>
				<div class="news-link__details">
					<div class="date">05 февраля 2015</div>
					<a href="#" class="author">Ростислав Ищенко</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 visible-lg">
			<div class="row">
				<div class="col-xs-12">
					<h4>НОВЫЕ КОММЕНТАРИИ</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="person">
						<div class="person__img">
							<img src="img/img2.jpg" alt="">
						</div>
						<div class="person__content">
							<a href="#" class="person__name">Иван Тимофеев</a>
							<p>Шесть вопросов к минским договоренностям</p>
						</div>
					</div>
					<div class="person">
						<div class="person__img">
							<img src="img/img2.jpg" alt="">
						</div>
						<div class="person__content">
							<a href="#" class="person__name">Иван Тимофеев</a>
							<p>Шесть вопросов к минским договоренностям</p>
						</div>
					</div>
					<div class="person">
						<div class="person__img">
							<img src="img/img2.jpg" alt="">
						</div>
						<div class="person__content">
							<a href="#" class="person__name">Иван Тимофеев</a>
							<p>Шесть вопросов к минским договоренностям</p>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="person">
						<div class="person__img">
							<img src="img/img2.jpg" alt="">
						</div>
						<div class="person__content">
							<a href="#" class="person__name">Иван Тимофеев</a>
							<p>Шесть вопросов к минским договоренностям</p>
						</div>
					</div>
					<div class="person">
						<div class="person__img">
							<img src="img/img2.jpg" alt="">
						</div>
						<div class="person__content">
							<a href="#" class="person__name">Иван Тимофеев</a>
							<p>Шесть вопросов к минским договоренностям</p>
						</div>
					</div>
					<div class="person">
						<div class="person__img">
							<img src="img/img2.jpg" alt="">
						</div>
						<div class="person__content">
							<a href="#" class="person__name">Иван Тимофеев</a>
							<p>Шесть вопросов к минским договоренностям</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>